/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
    text-align:center;
}

body{
    background:#f4f4f4;
    color:#222;
}

/* BRAND COLORS */
:root{
    --primary:#0B1F3A;      /* Navy */
    --secondary:#C8A951;    /* Gold */
    --light:#ffffff;
    --grey:#e5e5e5;
}


.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
/* HEADER */
header{
    background:var(--primary);
    padding:20px 0;
}

header h1{
    color:var(--secondary);
    font-size:28px;
    letter-spacing:2px;
}

nav{
    margin-top:10px;
}

nav a{
    color:var(--light);
    text-decoration:none;
    margin:0 15px;
    font-weight:500;
    transition:0.3s;
}

nav a:hover{
    color:var(--secondary);
}

/* HERO */
.hero{
    height:90vh;
    background: rgba(11,31,58,0.8)),
    url('https://images.ctfassets.net/09muo917z9ra/6yNFyOCe5DRKOQcwqm6SsX/5027af0af7cd0be30246251728ebe9c1/IMG-20260224-WA0022.jpg') center/cover no-repeat;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:white;
}

.hero h2{
    font-size:42px;
    margin-bottom:20px;
}

.hero p{
    max-width:600px;
    margin-bottom:30px;
}

.btn{
    background:var(--secondary);
    color:var(--primary);
    padding:12px 25px;
    text-decoration:none;
    font-weight:bold;
    border-radius:4px;
    margin:5px;
    display:inline-block;
    transition:0.3s;
}

.btn:hover{
    background:#b8963f;
}

/* SECTION */
.section{
    padding:70px 20px;
}

.section h2{
    font-size:32px;
    margin-bottom:20px;
    color:var(--primary);
}

.section p{
    max-width:700px;
    margin:0 auto 20px auto;
}

grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.card h3 {
    color: #C8A951;
    margin-bottom: 15px;
}

.project img {
    width: 70%;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

.project img:hover {
    transform: scale(1.03);
}

/* ===== LIGHTBOX ===== */
.lightbox {
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
}

.lightbox img {
    display: block;
    margin: auto;
    max-width: 80%;
    max-height: 80%;
    }

/* FOOTER */
footer{
    background:var(--primary);
    color:white;
    padding:20px;
}

/* WHATSAPP FLOAT */
.whatsapp{
    position:fixed;
    bottom:20px;
    right:20px;
    background:#25D366;
    color:white;
    padding:15px 18px;
    border-radius:50%;
    font-size:22px;
    text-decoration:none;
    box-shadow:0 4px 10px rgba(0,0,0,0.3);
}
